/* Section.css */

/* Estilos para la sección */
.section {
  background-color: #f4f4f4; /* Cambia esto al color que desees */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-grow: 1;
  float: right;
}

/* Estilos para el h2 dentro de la sección */
.h2-section {
  color: #333; /* Cambia esto al color que desees */
  font-size: 2.5rem;
  margin-bottom: 20px; /* Añade espacio entre el resultado y otros elementos */
}

/* Estilos específicos para el resultado "¡Hamburguesa lista!" */
.h2-section.success {
  color: green;
}

/* Estilos específicos para el resultado "¡PREPARA BONITO BOB SPONJA!" */
.h2-section.error {
  color: red;
}

/* Estilos para ajustar la apariencia de la lista y los elementos li */
ul.ul-section {
  padding-left: 24%;
}

li.li-section {
  width: 50%;
}
img.hamburguesa-img {
  width: 90%;
}